.pic {
    width:170px;
    height: 190px;
    object-fit: cover;
    object-position: bottom;
}

.pic3 {
    width:170px;
    height: 190px;
    object-fit: cover;
    object-position: center;
}

.box {
    width: 170px;
    height: 299px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-right: 8px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.circle_pic {
    width: 27px;
    border-radius: 100px;
    vertical-align: middle;
}

.circle_pic_div {
    display: inline-block;
}

.friends_div {
    display: inline-block;
}

.friends {
    vertical-align: middle;
    font-size: 14px;
    color: grey;
}

.button {
    margin-top: 5px;
    background-color: rgb(33, 124, 229);
    border-radius: 4px;
    color: white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}


.info {
    margin-left: 10px;
}

.middle_part {
    margin-top: 3px;
    margin-bottom: 3px;
}
